<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search - Cloud Storage</title>
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body class="container-sm bg-light">
<!-- Header -->
<header class="navbar navbar-expand-sm navbar-dark bg-dark d-flex justify-content-between align-items-center px-3 mb-3">
  <a class="navbar-brand text-white" href="/storage">Cloud Storage</a>
  <div th:if="${user == null}">
    <a class="btn btn-secondary me-2" href="/users/login">Login</a>
    <a class="btn btn-primary" href="/users/register">Register</a>
  </div>
  <div class="d-flex align-items-center" th:if="${user}">
    <span class="text-white me-3" th:text="${user.getUsername()}"></span>
    <a href="/users/logout" class="btn btn-primary">Logout</a>
  </div>
</header>

<!-- Main Content -->
<main class="px-2">
    <!-- Search and Actions -->
    <div class="d-flex mb-3">
      <form class="w-100 d-flex align-items-center" method="get" th:action="@{/storage/search}">
        <div class="input-group me-2">
          <input class="form-control" name="query" id="query" type="search" placeholder="Search" th:value="${param.query}">
          <button class="btn btn-secondary" type="submit">
            Search
          </button>
        </div>
        <a class="btn btn-secondary me-2 text-nowrap" th:href="@{/storage/create(prefix=${param.prefix})}">
          New folder
        </a>
        <a class="btn btn-secondary" th:href="@{/storage/upload(prefix=${param.prefix})}">
          Upload
        </a>
      </form>
    </div>
  </section>

  <!-- File List Table -->
  <table class="table table-bordered">
    <thead class="table-light">
    <tr>
      <th>File Name</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${items.size() == 0}">
      <td colspan="2">No results matched search query.</td>
    </tr>
    <tr th:each="item: ${items}">
      <td th:text="${item.name()}"></td>
      <td>
        <a th:href="@{/storage(prefix=${item.href()})}">Open in folder</a>
      </td>
    </tr>
    </tbody>
  </table>
</main>
</body>
</html>
